.flex{
    display: flex;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
}
#nav{
    justify-content: center;
    justify-content: space-around;
    background-color: #af3636;
   height: 50px;
}